body {
    background-color: black;
}

img {
    border: 5px solid white;
    margin-left: 500px ;
    border-image-width: 100%;
}

h1 {
    color: whitesmoke;
    margin-left: 510px ;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}

p {
    color: whitesmoke;
    margin-left: 475px;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}

div {
    margin-top: 150px;
}